.banniere {
    background-image: url('../../../public/img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
}

.banniere::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 9, 9, 0.5);
}

.contenu-banniere {
    position: relative;
    z-index: 1;
}

.titre-principal {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.sous-titre {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.bouton-contact {
}